# IDE
vscode/
.idea
.DS_Store

# Database
*sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Modules data
node_modules
dist
dist-ssr
*.local

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Certs
*.pem

# Env file
.env

# Avatars folder
backend-user/avatars/
